*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    height:500vh;
    overflow-x: hidden;
}

section .first{
    display: flex;
    height: 70px;
    width: 100%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    height: 120px;
    width: 100%;
    
}

.pages h1, .pages i{
    color: white;
    cursor: pointer;
}

.pages i{
    font-size: 19px
}


.pages h1:hover{
    color:rgb(227, 227, 197);
    transition: 0.1s ease-in-out;
}


.pages{
    display: flex;
    gap: 65px;
    align-items: center;
}

.nav-image{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: 700;
    
}

.nav-image p{
    color: black;
}

.nav-image img{
    width: 50px;
    border-radius: 3px;

}

.nav-image img:hover{
    opacity: 0.8;
    transition: ease-in 0.2s;
    width:55px;
}

.user{
    display: flex;
    gap: 20px;
}

.user i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.user i:hover{
    color:rgb(227, 227, 197);
    transition: 0.1s ease-in-out;
}




.search-bar{
    opacity: 0;
    width: 500px;
    height: 50px;
    background-color:white;
    display: flex;
    transition: 0.2s ease;
    border-radius: 25px;
    position: relative;
    left: 30px;
}

.search-bar input{
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
}

.search{
    display: flex;
    align-items: center;
}

.search:hover .search-bar{
    opacity: 1;
}


.cont{
    width: 200px;
    height: 200px;
    background-color: aqua;
}


.second{
    display: flex;
    justify-content:left;
    margin:70px 130px;

}

.main-txt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 50px;
}

.main-txt p{
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-weight: 900;
    width:450px;
}

.main-txt h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align:left;
    width: 500px;
    font-size: 20px;    
}

.second img{
    width: 550px;   
    position: relative;
    left: 150px;
    bottom: 130px;
}


.main-page-img{
    display: flex;
    justify-content: center;
    gap: 70px;   
    margin-top:-100px;
}

.int-pg{
    background-image: url(./assets/34d709cb-3612-4862-a5b3-29b347b783a2.jpg);
    width:480px;
    height: 680px;
    background-position: center center;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 140px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

    
}

.int-pg:hover, .pg-1:hover, .pg-2:hover{
    box-shadow: 0px 5px 20px rgba(0,0,0,1);
    transition: all 0.2s;
}

.pg-flex{
    margin-top: 500px;
}

.pg-flex p{
    font-size: 27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}

.pg-flex h4{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}

.int-pg img{
    margin-top: 500px;
    width: 50px;
    
}

.pg-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pg-1{
    background-image: url(./assets/Kids\ Bedroom\ Ideas_\ Space-Saving\ Solutions\ for\ Small\ Kids’\ Rooms.jpg);
    width:580px;
    height: 325px;
    background-position: center center;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 140px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

}

.pg-flex1{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 200px;
}

.pg-flex1 p{
    font-size: 27px;
    

}

.pg-flex1 h4{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}

.pg-1 img, .pg-2 img{
    width: 50px;
    margin-top: 200px;
    
}

.pg-2{
    background-image: url(/assets/f2b4a2e2-9451-4e8a-b95d-f1a88a49bc20.jpg);
    width:580px;
    height: 325px;
    background-position: center center;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 140px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

}

.prfct{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a97850;
    font-weight: 900;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
}

.prfct h2{
    font-size: 20px;

}

.categories-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 100px;
}


.prod{
    display: flex;
    flex-direction:column;
    margin-top: 150px;
    gap: 20px;
}

.prod p{
    font-size: 36px;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    color: #a97850;
    margin-left: 100px;
}

.prod h5{
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    margin: 0 100px;
}

.collection-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 50px;
}

.item-col{
    width: 300px;
    height: 440px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: 1.2px solid #333;
}

.item-col:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    transition: ease-in-out 0.3s;

}

.item-col img{
    width: 290px;
    height: 340px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.item-col .name{
    font-size: 23px;
    font-weight: 600;
    font-family: "Roboto ", sans-serif;
    margin: 0 10px;
    color: #333;
}

.item-col .prc{
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    color:darksalmon;
    font-weight: 600;
}

.col-flex{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 10px;
}

.desc{
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    font-weight: 700;
    color:brown;
}

.col-flex i{
    font-size: 15px;
}

.col-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.col-btn button:hover{
    background-color:rgb(247, 247, 117);
    transition: ease-in-out 0.3s;
}

.col-btn button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color:beige;
    border: 3px black solid;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    cursor: pointer;
}

.flex{
    display: flex;
    gap: 20px;
    margin-top: 150px;
    flex-direction: column;
}

.int-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}


.interior-item{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 220px;
    height: 220px;
    margin-top: 20px;
}

.interior-item:hover{
    transition: ease-in-out 0.2s ;
    text-decoration: underline;   
}

.int-image img{
    width: 180px;
    height: 160px;
    border-radius: 7px;
    margin-top: 15px;
}

.item-name{
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    color:black;
    text-transform: capitalize;
    margin:10px;
}

.stars{
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: "Roboto" , serif;
    color: gray;
    margin-top: -35px;
    margin-left: 6px;
}

.stars img{
    width: 80px;
}



.int-image2 img, .int-image3 img, .int-image4 img, .int-image5 img, .int-image6 img, .int-image7 img, .int-image8 img{
   border-radius: 7px;
    height: 160px;
    width: 180px;
    margin-top: 15px;
}

.flex-name{
    font-size: 27px;
    font-family: "Roboto Slab", serif;
    color: #a97850;
    font-weight: 500;
    margin-left: 150px;
}


.interior-item1, .interior-item2, .interior-item3, .interior-item4{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 350px;
    height: 220px;
    margin-top: 20px;
}

.interior-item1:hover,.interior-item2:hover,.interior-item3:hover,.interior-item4:hover{
    transition: ease-in-out 0.2s ;
    text-decoration: underline;   
}

.int-image-2 img, .int-image-3 img, .int-image-4 img{
    margin-top: 15px;
    border-radius: 7px;
    height: 185px;
    width: 350px;
}

.int-image-1 img{
    width: 350px;
    height: 185px;
    border-radius: 7px;
    margin-top: 15px;
}

.item-name1{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-weight: 500;
    text-transform: capitalize;
    margin:11px 0;
}


section.sixth{
    display: flex;
    background-color: #a97850;
    height: 320px;
    margin-top:80px;
    justify-content: center;
    
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    gap: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-top: 40px;
}

.cards:hover, .reg10:hover, .site:hover, .blog10:hover, .utd:hover, .germ:hover, .canada:hover
, .on:hover, .tms:hover, .foru:hover, .create:hover, .inc:hover, .pol:hover, .inv:hover, .career:hover, 
.pre:hover, .imp:hover, .impr:hover, .hlp:hover, .sett:hover{ 
    text-decoration:  underline;
}

.shop{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 12px;
    font-family: "Roboto", sans-serif;
}

.main{
    font-weight: 500;
    font-size:18px;
}

.sell{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    bottom: 44px;
    
}

.sell-main{
    font-size: 18px;
    font-weight: 500;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.about-main{
    font-size: 18px;
    font-weight: 500;
}

.help{
    display: flex;
    flex-direction:column;
    gap: 12px;
    position: relative;
    bottom: 58px;
}

.help-main{
    font-family: 18px;
    font-weight: 500;
}

.icons{
    display: flex;
    gap: 30px;
    font-size: 22px;
    margin-top: 10px;
}

.icons a{
    color: white;
}



section.seventh{
    background-color: #2e2e2e;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.left{
    font-size: 13px;
    font-family: "Roboto", serif;
}

.right2{
    font-family:"Roboto", serif;
    font-size: 13px;
    gap: 23px;
    display: flex;
    cursor: pointer;
}

.right2 a{
    text-decoration: underline;
}


.swiper-container {
    position: relative;
    width:1250px;
    height: 500px;
    margin: 50px 180px;
    overflow: hidden;
    border-radius: 10px;
    
  }

  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin-left: 80px;
  }

  .swiper-slide {
    min-width: 100%;
    user-select: none;
  }

  .swiper-slide img {
    width: 100%;
    display: block;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #a97850;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    border-radius: 50%;
  }

  .prev {
    left: 150px;
  }

  .next {
    left: 1450px;
}

.swiper-button{
    display: flex;
    position: relative;
    bottom: 330px;
}