*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    height: 300vh;   
}

section .first{
    display: flex;
    height: 70px;
    width: 100%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    height: 120px;
    width: 100%;
    
}

.pages h1, .pages i{
    color: white;
    cursor: pointer;
}

.pages i{
    font-size: 19px
}



.pages{
    display: flex;
    gap: 65px;
    align-items: center;
}

.nav-image{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: 700;
    
}

.nav-image p{
    color: black;
}

.nav-image img{
    width: 50px;
    border-radius: 3px;

}

.nav-image img:hover{
    opacity: 0.8;
    transition: ease-in 0.2s;
    width:55px;
}

.user{
    display: flex;
    gap: 20px;
}

.user i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}


.search-bar{
    opacity: 0;
    width: 500px;
    height: 50px;
    background-color:white;
    display: flex;
    transition: 0.2s ease;
    border-radius: 25px;
    position: relative;
    left: 30px;
}

.search-bar input{
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
}

.search{
    display: flex;
    align-items: center;
}

.search:hover .search-bar{
    opacity: 1;
}

.all{
    display: flex;
    flex-direction: column;
    gap: 45px;
    font-family: "Roboto", sans-serif;
    margin: 30px 200px;
}

.prdct{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.prdct a{
    font-size:1.2rem;
    font-weight: 500;
}

.prdct span{
    color: gray;
    
}




.ttl{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.product-container{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.product-item img{
    width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 350px;
    background-color: #f8f6f2;
    border-radius: 5px;
    cursor: pointer;
}


.product-item a{
    font-size: 20px;
    font-weight: 500;
    color: #333;

}

.product-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.product-item:hover{
    text-decoration: underline 1px solid #333;
}

.product-list a{
    cursor: pointer;
}

.product-list a:hover{
    text-decoration: underline 1px solid #333;

}

.prod-midle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.mid-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    width: 450px;
    height: 122px;
    background-color:#f8f6f2;
}

.on-sale{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.on-sale a{
    font-size: 20px;
    font-weight: 400;
}

.on-sale span{
    color: red;
    font-size: 18px;
    font-style:italic;
    font-family: "Courgette", cursive;
}

.now{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.now a{
    font-weight: 500;
}

.mid-flex:hover{
    text-decoration: underline;
}



section.sixth{
    display: flex;
    background-color: #a97850;
    height: 320px;
    margin-top:80px;
    justify-content: center;
    
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    gap: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-top: 40px;
}

.cards:hover, .reg10:hover, .site:hover, .blog10:hover, .utd:hover, .germ:hover, .canada:hover
, .on:hover, .tms:hover, .foru:hover, .create:hover, .inc:hover, .pol:hover, .inv:hover, .career:hover, 
.pre:hover, .imp:hover, .impr:hover, .hlp:hover, .sett:hover{ 
    text-decoration:  underline;
}

.shop{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 12px;
    font-family: "Roboto", sans-serif;
}

.main{
    font-weight: 500;
    font-size:18px;
}

.sell{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    bottom: 44px;
    
}

.sell-main{
    font-size: 18px;
    font-weight: 500;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.about-main{
    font-size: 18px;
    font-weight: 500;
}

.help{
    display: flex;
    flex-direction:column;
    gap: 12px;
    position: relative;
    bottom: 58px;
}

.help-main{
    font-family: 18px;
    font-weight: 500;
}

.icons{
    display: flex;
    gap: 30px;
    font-size: 22px;
    margin-top: 10px;
}

.icons a{
    color: white;
}



section.seventh{
    background-color: #2e2e2e;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.left{
    font-size: 13px;
    font-family: "Roboto", serif;
}

.right2{
    font-family:"Roboto", serif;
    font-size: 13px;
    gap: 23px;
    display: flex;
    cursor: pointer;
}

.right2 a{
    text-decoration: underline;
}





